<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>377648411741-73plps9mlvchrs4n4vnh9qf5722mstni.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.377648411741-73plps9mlvchrs4n4vnh9qf5722mstni</string>
	<key>API_KEY</key>
	<string>AIzaSyDDqU7OssGLzcvftNzof9EXfaUASuSI27I</string>
	<key>GCM_SENDER_ID</key>
	<string>377648411741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.joelplotnik.hunterFit</string>
	<key>PROJECT_ID</key>
	<string>hunterfit-c39b3</string>
	<key>STORAGE_BUCKET</key>
	<string>hunterfit-c39b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377648411741:ios:3b171781093e8e6ba749b4</string>
</dict>
</plist>